In [1]:
from faker import Faker
from faker_food import FoodProvider
from random import randint
from random import uniform
from random import choice
from datetime import datetime

In [2]:
# saving data to txt file

def to_txt(file, name):
    
    filepath = name
    f = open(filepath, 'w', encoding="utf-8")
    i = 0
    while(i<len(file)):
        j = 0
        while(j<len(file[i])):
            if j == 0:
                f.write(str(file[i][j]))
            else:
                f.write(',')
                f.write(str(file[i][j]))
            j = j+1
        i = i+1
        if i!=len(file):
            f.write('\n')
    f.close()

In [3]:
countries = ['en_US', 'fr_FR', 'pl_PL', 'de_DE', 'en_AU', 'es_ES']

In [4]:
# generating fake data (e.g. postalCode may not match the city)
# offices

offices = []

office_code = []

i = 1
for el in countries:
    for j in range(3):
        fake = Faker(el)
        Faker.seed(i+j)
        offices.append([i, fake.city(), fake.phone_number(), fake.street_address(), fake.current_country(), fake.postcode()])
        # office_code, city, phone, adress, country, postcode
        office_code.append(i)
        i = i+1

offices[:3]

[[1,
  'New Melanie',
  '001-141-777-6317x06690',
  '3915 Andrew Run Apt. 636',
  'United States',
  '95639'],
 [2,
  'New Amy',
  '(979)190-7483x378',
  '2328 Figueroa Skyway Apt. 290',
  'United States',
  '39988'],
 [3, 'Judyhaven', '7302157368', '303 Ramirez Ways', 'United States', '51545']]

In [5]:
to_txt(offices, 'offices.txt')

In [6]:
# products

fake = Faker()
fake.add_provider(FoodProvider)

products = []

product_code = []
product_name = []

for i in range(150):
    
    tf = False
    while tf == False:
        Faker.seed(i)
        code = fake.ean(length=8)
        if code not in product_code:
            tf = True
            product_code.append(code)
            
    tf = False
    while tf == False:
        r = randint(1,4)
        if r == 1:
            food = fake.vegetable()
        elif r == 2:
            food = fake.fruit()
        elif r == 3:
            food = fake.dish()
        else:
            food = fake.spice()
        if food not in product_name:
            tf = True
            product_name.append(food)
            
#print(len(product_code) == len(set(product_code)))
#print(len(product_name) == len(set(product_name)))
            
            
for i in range(150):
    products.append([product_code[i], product_name[i], randint(0, 500), round(uniform(5, 40), 2)])
    # product_code, product_name, quantity_in_stock, suggested price

products[:3]

[['66048763', 'Saffron', 476, 23.93],
 ['29141777', 'Radish', 387, 9.67],
 ['01152449', 'French eschallots', 413, 7.5]]

In [7]:
to_txt(products, 'products.txt')

In [8]:
office_code[:5]

[1, 2, 3, 4, 5]

In [9]:
# employees 

employees = []

employee_number = []

i = 0
for el in countries:
    
    fake = Faker(el)
    
    a = randint(6,10)
    for j in range(a):
    
        tf = False
        while tf == False:
            number = randint(1000, 9999)
            if number not in employee_number:
                tf = True
                employee_number.append(number)
                
        Faker.seed(j)
        gender = randint(1,3)
        if gender == 1:
            employees.append([employee_number[i], fake.last_name_female(), fake.first_name_female(), fake.email(), choice(office_code)])
        elif gender == 2:
            employees.append([employee_number[i], fake.last_name_male(), fake.first_name_male(), fake.email(), choice(office_code)])
        else:
            employees.append([employee_number[i], fake.last_name_nonbinary(), fake.first_name_nonbinary(), fake.email(), choice(office_code)])
            
        # employee_number, last_name, first_name, email, office_code
        
        i = i+1
        
print(i)
employees[:3]

52

[[3953, 'Richard', 'Katherine', 'gwilliams@example.com', 3],
 [5844, 'Taylor', 'Sarah', 'scotttyler@example.com', 7],
 [9894, 'Blanchard', 'Travis', 'davismichael@example.org', 7]]

In [10]:
to_txt(employees, 'employees.txt')

In [11]:
# customers 

customers = []

customer_number = []

i = 0
for el in countries:
    
    fake = Faker(el)
    
    a = randint(25,30)
    for j in range(a):
    
        tf = False
        while tf == False:
            number = randint(1000, 9999)
            if number not in customer_number:
                tf = True
                customer_number.append(number)
                
        Faker.seed(j)
        gender = randint(1,3)
        if gender == 1:
            customers.append([customer_number[i], fake.last_name_female(), fake.first_name_female(), fake.phone_number(), fake.street_address(), fake.city(), fake.postcode(), fake.current_country()])
        elif gender == 2:
            customers.append([customer_number[i], fake.last_name_male(), fake.first_name_male(), fake.phone_number(), fake.street_address(), fake.city(), fake.postcode(), fake.current_country()])
        else:
            customers.append([customer_number[i], fake.last_name_nonbinary(), fake.first_name_nonbinary(), fake.phone_number(), fake.street_address(), fake.city(), fake.postcode(), fake.current_country()])
            
        # customer_number, last_name, first_name, phone, adres, city, post_code, country
        
        i = i+1

print(i)
customers[:3]

159

[[1948,
  'Richard',
  'Norma',
  '(048)764-7593x82421',
  '924 Jessica Vista Suite 781',
  'Ryanborough',
  '72921',
  'United States'],
 [2576,
  'Taylor',
  'Ryan',
  '001-141-777-6317x06690',
  '3915 Andrew Run Apt. 636',
  'New Jeffreymouth',
  '65488',
  'United States'],
 [9849,
  'Blanchard',
  'Stacie',
  '1152449390',
  '6858 Shaw Camp',
  'West Stevenmouth',
  '50310',
  'United States']]

In [12]:
to_txt(customers, 'customers.txt')

In [13]:
customer_number[:5]

[1948, 2576, 9849, 6759, 8017]

In [14]:
# orders 

orders = []

order_number = []

for i in range(550):
    
    fake = Faker()

    tf = False
    while tf == False:
        number = randint(10000, 99999)
        if number not in order_number:
            tf = True
            order_number.append(number)
            
    Faker.seed(i)
    
    date = fake.date_between(datetime.strptime('2019-10-10', "%Y-%m-%d"), datetime.strptime('2022-09-26', "%Y-%m-%d"))
    order_date = date.strftime("%Y-%m-%d")
    
    date = fake.date_between(datetime.strptime(order_date, "%Y-%m-%d"), datetime.strptime('2022-09-26', "%Y-%m-%d"))
    shipped_date = date.strftime("%Y-%m-%d")
    
    orders.append([order_number[i], order_date, shipped_date, choice(customer_number)])
    # order_number, order_date, shipped_date, customer_number
    
    
orders[:3]

[[87684, '2021-05-30', '2022-04-21', 1905],
 [15603, '2020-05-05', '2020-08-11', 1341],
 [48866, '2020-01-05', '2020-05-26', 4334]]

In [15]:
to_txt(orders, 'orders.txt')

In [16]:
# payments

payments = []

for i in range(400):
    
    fake = Faker()
    Faker.seed(i)
    
    date = fake.date_between(datetime.strptime('2019-10-10', "%Y-%m-%d"), datetime.strptime('2022-09-26', "%Y-%m-%d"))
    payment_date = date.strftime("%Y-%m-%d")
    
    payments.append([choice(customer_number), fake.credit_card_number(), payment_date, round(uniform(100, 5000), 2)])
    # customer_number, credit_card_number, payment_date, amount
    
payments[:3]

[[9595, '6011487647593824', '2021-05-30', 389.51],
 [9544, '3541777631706697', '2020-05-05', 1714.19],
 [3612, '5352449390926683', '2020-01-05', 3828.5]]

In [17]:
to_txt(payments, 'payments.txt')

In [18]:
order_number[:5]

[87684, 15603, 48866, 46115, 80058]

In [19]:
product_code[:5]

['66048763', '29141777', '01152449', '39825971', '34167212']

In [20]:
# orderdetails

orderdetails = []

for i in range(4500):
    orderdetails.append([choice(order_number), choice(product_code), randint(20, 200), round(uniform(5, 40), 2)])
    # order_number, product_code, quantity_ordered, price_each
    
orderdetails[:3]

[[24253, '24154048', 67, 5.73],
 [12098, '43778010', 84, 10.2],
 [27715, '36509089', 20, 32.87]]

In [21]:
to_txt(orderdetails, 'orderdetails.txt')